body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("./crossed_stripes.png");
    padding-bottom: 1rem;
    padding-top: 2em;
    padding-bottom: 2em;
}

#index {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("./crossed_stripes.png");
    padding: 0px;
}

a {
    text-decoration: none;
    color: ivory;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fdfdfdbf;
    text-shadow: #000000 -1px 0, #000000 0 -1px, #ffffff 0 1px, #000000 -1px -2px 1px;
}

#enlacesIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3c3d647;
    border-radius: 5px;
    width: 60%;
    height: 20rem;
    border: 5px #fbfbfdc0 outset;
}

#enlaces {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 4px;
    color: blue;
}

button {
    border-radius: 6px;
    color: cornsilk;
    background-color: rgba(250, 2, 2, 0.39);
    padding: 14px;
    border: none;
    margin: 1rem;
    width: 7rem;
    border: 3px rgba(138, 54, 54, 0.568) outset;
    font-weight: 700;
}

#habitacionesGet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c3c3d647;
    border-radius: 5px;
    width: 60%;
    height: auto;
    padding-left: 30px;
    padding-top: 17px;
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fdfdfdbf;
    text-shadow: #000000 -1px 0, #000000 0 -1px, #ffffff 0 1px, #000000 -1px -2px 1px;
    border: 5px #c3c3d647 outset;
}

#clientesGet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c3c3d647;
    border-radius: 5px;
    width: 82%;
    height: auto;
    margin-top: 1rem;
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fdfdfdbf;
    text-shadow: #000000 -1px 0, #000000 0 -1px, #ffffff 0 1px, #000000 -1px -2px 1px;
    border: 5px #c3c3d647 outset;
}

#reservasGet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c3c3d647;
    border-radius: 5px;
    width: 95%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #fdfdfdbf;
    text-shadow: #000000 -1px 0, #000000 0 -1px, #ffffff 0 1px, #000000 -1px -2px 1px;
    border: 5px #c3c3d647 outset;
}

#clientesBorr,
#clientesReg,
#clientesAct {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #c3c3d647;
    border-radius: 5px;
    border: 5px #c3c3d647 outset;
    padding-left: 1rem;
}

#dniDelete {
    margin-left: 5rem;
}

#espacio {
    margin-left: 2px;
}

#inputsResev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c3c3d647;
    border-radius: 5px;
    border: 5px #c3c3d647 outset;
    padding-top: 1rem;
    width: 95%;
}

#registro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c3c3d647;
    border-radius: 5px;
    border: 5px #c3c3d647 outset;
    width: 60%;
}